<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="retoCRUD.Properties.Settings.cn" connectionString="Data Source=DESKTOP-VF72J7C\SQLEXPRESS;Initial Catalog=BD_ContosoSA;Persist Security Info=True;User ID=user_dj;Password=162407;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>